h1 {
    color: #ccbf00;
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border :solid;
    margin: 5px;
    
}

.header {
    background-color : #000000;
    display:flex;
    justify-content: space-between;
  
    
}

.header * {
    border:solid ;
}

.grid {
    display :flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display :flex ;
    justify-content: flex-end;
}
body{
    background-color: #808080;
}

p,h2{
    text-align: center;
}

.menu  a {
    margin : 30px

}

.item {
    position : relative ;

}

.item p {
    position :absolute;
    top : 50% ;
    left : 50% ;
    transform : translate(-50%,-50%);
    opacity : 0;

}

.item:hover p {
    opacity : 1 ;
}

.item:hover img {
    opacity : 0.33 ; 
}

a:link{
    color :#ccbf00 ;
}

a:visited{
    color :aquamarine ;
}